<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- BootstrapCDN CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cantarell|Chelsea+Market|Bad+Script|Knewave&display=swap" rel="stylesheet">
        <link rel="stylesheet" href=" {% static 'style_story8.css' %}">
   
        <!-- BootstrapCDN JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        

        <title>Books</title>
    </head>

    <body>
        <center>
            <div class="mb-5 mx-5 py-2 flex-center-col align-c">
                <br>
                <h1>Sedang cari buku apa?</h1>
                <br>
                <form class="justify-content-md-center">
                    <div class="input-group mb-3">
                        <input id="input-search" type="text" class="form-control" placeholder="Masukkan judul buku" aria-label="Masukkan judul buku" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button id="button-search" class="btn btn-outline-secondary" type="button" id="button-addon2">Cari Buku</button>
                        </div>
                     </div>
                </form>
            </div>
            <h3>Berikut ini buku hasil pencarianmu :</h3>
            <br>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center" style="width: 20%" scope="col">Judul</th>
                    <th class="text-center" style="width: 20%" scope="col">Penulis</th>
                    <th class="text-center" style="width: 20%" scope="col">Penerbit</th>
                    <th class="text-center" style="width: 20%" scope="col">Kategori</th>
                    <th class="text-center" style="width: 20%" scope="col"></th>
                  </tr>
                </thead>

                <tbody id="results">

                </tbody>
              </table>

        </center>
    </body>
    <script src="{% static 'script_story8.js' %}"></script>
</html>