body{
    font-family: Muli;
    background-color: pink;
    background-image: url("kucing_makan.png");
    background-size: 10%;
    background-repeat: repeat;
}
.activate.accordion-header::before{
    background-color: aqua;
}

.darked .accordion-header{
    color: antiquewhite;
    background-color: maroon;
}

.darked .activate.accordion-header::before{
    background-color: white;
}

.darked .accordion-content{
    background-color: lightsteelblue;
    color: rebeccapurple;
}

.vintaged .accordion-header{
    background-color: rgb(255, 170, 66);
}

.vintaged .activate.accordion-header::before{
    background-color: rgb(255, 89, 0);
}

.vintaged .accordion-content{
    background-color: rgb(255, 255, 181);
    color: rgb(255, 89,0);
}

.container{
    margin-top: 50px;
}

.accordion{
    margin: 0 auto;
}

.accordion-header{
    width: 100%;
    border-bottom: 1px solid #DDE0E7;
    color: #2a313a;
    background-color: #eee;
    cursor: pointer;
    font-weight: 500;
    padding: 1.5rem;
}

.accordion-header:hover{
    background: #ccc;
}

.accordion-content{
    width: 100%;
    display: none;
    border-bottom: 1px solid #DDE0E7;
    background: #F6F7F9;
    padding: 1.5rem;
    color: #4a5666;
}

.accordion-header::before{
    content: '';
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: #B1B5BE;
    margin-right: .75rem;
}
