<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- BootstrapCDN CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cantarell|Chelsea+Market|Bad+Script|Knewave&display=swap" rel="stylesheet">
        <link rel="stylesheet" href=" {% static 'style_story7.css' %}">
   
        <!-- BootstrapCDN JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'script.js' %}"></script>

        <title>Profile</title>
    </head>

    <body>
        <div class="col-md-12">
            <div class="container">
                <div class="col-md-auto">
                    <!-- ini buat gambar kucing -->
                </div>
            </div>

            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                    <button type="button" id="ganti-tema" class="btn btn-light">ngantuuuk</button>
              </div>
            </div><br>

           <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <h1>Informasi Tentang Saya</h1>
                </div>
            </div><br>

            <center>
                <div>
                <!-- accordion -->
                    <div class="accordion">

                        <div class="accordion-header">
                            Aktivitas
                        </div>
                        <div class="accordion-content">
                            Makan <br>
                            Kuliah <br>
                            Nugas <br>
                            Tidur
                        </div>

                        <div class="accordion-header">
                            Pengalaman Organisasi/Kepanitiaan
                        </div>
                        <div class="accordion-content">
                            BEM Fasilkom UI 2019 <br>
                            FUKI Fasilkom UI 2019 <br>
                            SIWAK-NG 2019 <br>
                        </div>

                        <div class="accordion-header">
                            Prestasi
                        </div>
                        <div class="accordion-content">
                            Belum ada prestasi T_T
                        </div>

                    </div> 
                <!-- accordion -->
                </div>
            </center>
        </div>
    </body>
</html>