body{
    font-family: Muli;
    background-color: papayawhip;
}
h1{
    color: maroon;
    font-size: 50px;
}
h3{
    color: maroon;
    font-size: 20px;
}
#button-search{
    background-color: maroon;
    color: papayawhip;
}
thead{
    background-color: lightsalmon;
}