body{
    margin-top : 50px;
    background-color: pink;
    color: maroon;
    font-family: Muli;
}

.nav_body{
    background-image: url("cat_nav.png");
    background-position: 30% 125%;
    background-size: 7%;
    background-repeat: no-repeat;
}

h3{
    font-size: 20px;
}

h1{
    font-size: 100px;
}

.name{
    padding-bottom: 30px;    
}

.logout{
    padding-top: 10px;
}
#buttons{
    padding-bottom: 50px;
}

#tulisan{
    padding-bottom : 20px;
}

.login_body{
    background-image: url("cat_login.png");
    background-position: 60% 100%;
    background-size: 15%;
    background-repeat: no-repeat;
}
form{
    margin-top: 200px;
    margin-left : 390px;
}

.field{
    padding-bottom: 20px;
}

.logout_body{
    margin-top: 5%;
    background-image: url("cat_logout.png");
    background-size: 15%;
    background-position: 60% -300%;
    background-repeat: no-repeat;
}

#logged_out{
    font-size: 50px;
}