<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- BootstrapCDN CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cantarell|Chelsea+Market|Bad+Script|Knewave&display=swap" rel="stylesheet">
        <link rel="stylesheet" href=" {% static 'style_story9.css' %}">
   
        <!-- BootstrapCDN JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        

        <title>Navigation</title>
    </head>

    <body class="nav_body">
        {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
       <div class="container">
            <div id="tulisan">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto welcome">
                        <h3>Selamat datang,</h3>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-auto name">
                        <h1>{{ user.get_username }}!</h1>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <h3>Silakan kunjungi halaman di bawah ini</h3>
                    </div>
                </div>
            </div>
            
            <div class="row" id="buttons">
                <div class="col-sm text-center">
                    <a href="{% url 'homepage:home' %}" class="btn btn-outline-danger">Homepage</a>
                </div>
                <div class="col-sm text-center">
                    <a href="{% url 'story7:profile' %}" class="btn btn-outline-danger">Profile</a>
                </div>
                <div class="col-sm text-center">
                    <a href="{% url 'story8:list_books' %}" class="btn btn-outline-danger">Books</a>
                </div>
            </div>

            <div class="row justify-content-md-center logout">
                <div class="col-md-auto">
                    <h3>atau keluar</h3>
                </div>
            </div>

            <div class="row justify-content-md-center logout-button">
                <a href="{% url 'logout'%}" class="btn btn-danger btn-lg">Logout</a>
            </div>
        </div>
    </body>
    
</html>


