<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- BootstrapCDN CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cantarell|Chelsea+Market|Bad+Script|Knewave&display=swap" rel="stylesheet">
    
   
        <!-- BootstrapCDN JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <title>Home</title>
    </head>
    <body>
        <div class="container py-5">
            <div class="row">
                <div class="judul_dan_form_status">
                    <div id="judul_halo">
                        <br>
                        <h1>Halo, apa kabar?</h1>
                    </div>
                    <br>
                    <div id="form_status">
                        <form action="{% url 'homepage:jawaban_status' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}                
                            <span>
                                <input type="submit" value="Simpan Status" class="btn btn-primary">
                            </span>
                        </form>
                    </div>
                </div>
                <br>
                <br>
                <div class="table-responsive">
                    <div class="tabel_list_status">
                        <table class="table table-fixed" border-collapse="collapse" width="100%">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 50%" scope="col" padding="8px 16px">Status</th>
                                    <th class="text-center" style="width: 50%" scope="col" padding="8px 16px">Waktu</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for all in database %}
                                    <tr>
                                        <td class="text-center" style="width: 50%" scope="col">{{ all.status }}</td>
                                        <td class="text-center" style="width: 50%" scope="col">{{ all.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>     
   </body>
</html>
